.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.font-link {
  font-family: "Comfortaa", cursive;
}
#footer {
  background-color: #004380;
  margin-top: 1rem;
  padding-top: 30px;
  color: #c2f8f9;
  font-size: 100%;
  /* bottom: 0; */
  width: 100%;
  position: relative;
  /* min-height: 100vh; */
}
#footer .footer-top {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* height: 5rem;            Footer height */
}

#footer .credits {
  font-size: 100%;
  color: #c2f8f9;
  margin-bottom: 2%;
}

.footer-text {
  font-size: 90%;
  color: #c2f8f9;
}

#footer .jumbotron {
  background-color: #202945;
}

.sidebar-container {
  position: fixed;
  width: 220px;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: #1a1a1a;
  color: #fff;
}

.content-container {
  padding-top: 20px;
}

.sidebar-logo {
  padding: 10px 15px 10px 30px;
  font-size: 20px;
  background-color: #2574a9;
}

.sidebar-navigation {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
}

.sidebar-navigation li {
  background-color: transparent;
  position: relative;
  display: inline-block;
  width: 100%;
  line-height: 20px;
}

.sidebar-navigation li a {
  padding: 10px 0px 10px 0px;
  display: block;
  color: #fff;
}

.sidebar-navigation li .fa {
  margin-right: 0px;
}

.sidebar-navigation li a:active,
.sidebar-navigation li a:hover,
.sidebar-navigation li a:focus {
  text-decoration: none;
  outline: none;
}

.sidebar-navigation li::before {
  background-color: #2574a9;
  position: absolute;
  content: "";
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 3px;
  z-index: -1;
}

.sidebar-navigation li:hover::before {
  width: 100%;
}

.sidebar-navigation .header {
  font-size: 15px;
  text-transform: uppercase;
  background-color: #151515;
  padding: 10px 15px 10px 0px;
}

.sidebar-navigation .header::before {
  background-color: transparent;
}

.content-container {
  padding-left: 220px;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 25px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  overflow-wrap: break-word;
}

.msg {
  display: flex;
  padding: 10px 10px 0 20px;
  margin: 0px;
  border-radius: 3000px;
  box-shadow: 0 0 10px rgb(164, 164, 164);
  align-items: center;
  zoom: 70%;
}

.sent {
  background-color: #395dff;
  color: white;
  font-size: 6;
  border-top-right-radius: 100px;
  flex-direction: row-reverse;
  padding: 20px 20px 0 40px;
  text-align: start;
  float: right;
}

.received {
  border: 1px solid lightgray;
  background-color: #fafafa;
  border-top-left-radius: 100px;
  float: left;
  text-align: start;
}

.sendMsg {
  position: fixed;
  display: flex;
  width: 100%;
  bottom: 0;
  z-index: 1;
  border-top: 1px solid lightgray;
  margin-left: -5px;
  padding: 10px;
  padding-bottom: 30px;
  background-color: #fafafa;
}

.msgs {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

@media (max-width: 775px) {
  p {
    font-size: 20px;
  }
  .sent {
    padding: 10px 10px 0 10px;
  }
  .received {
    padding: 10px 10px 0 10px;
  }
  img {
    height: 35px;
    margin-top: -10px;
  }
}

@media (max-width: 500px) {
  p {
    font-size: 15px;
  }
  .sent {
    padding: 7px 7px 0 7px;
  }
  .received {
    padding: 7px 7px 0 7px;
  }
  img {
    height: 30px;
    margin-top: -7px;
  }
}
